.wrapper {
	height: var(--height);
	width: var(--width);
	position: relative;
	background: white;
	z-index: 0;
}

.item {
	--move-ratio: 0;
	--shrink-ratio: 1;
	height: 0;
	width: 0;
	position: absolute;
	top: calc(0.5 * var(--height));

	left: calc((0.5 * var(--move-ratio) + 0.5) * var(--width));
	transform: scale(calc(0.6 + 0.4 * var(--shrink-ratio)));
	opacity: var(--shrink-ratio);
	z-index: 10000;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.item > * > * {
	pointer-events: unset;
}
