.wrapper {
	position: relative;
	height: var(--card-height);
	width: var(--card-width);
	perspective: calc(4 * var(--card-width));
}

.front, .back {
	border-radius: 3%;
	transition: transform 1s ease-in-out;
	backface-visibility: hidden;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}

.front {
	transform: rotateY(0deg);
	background: #A0F5E0;
}
.wrapper.covered .front {
	transform: rotateY(180deg);
}

.back {
	transform: rotateY(180deg);
	background: #F5A0E0;
}
.wrapper.covered .back {
	transform: rotateY(360deg);
}
