.wrapper {
	position: relative;
	height: var(--height);
	width: var(--width);
	perspective: calc(4 * var(--width));
	pointer-events: none;
}

.front, .back {
	border: 2px solid gray;
	border-radius: 3%;
	backface-visibility: hidden;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	pointer-events: all;
}

.front {
	transform: rotateY(var(--rotate));
	background: #A0F5E0;
}

.back {
	transform: rotateY(calc(180deg + var(--rotate)));
	background: #F5A0E0;
}
